<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header"></head>
	<body>
		
		<div th:replace="template :: menu"></div>
		<div th:replace="template :: importScripts"></div>
		<div class="container" style="max-width:970px;">
			
			<h2 style="text-align: center;margin-bottom: 30px;">
				<span class="label label-info">Cadastro de Boletos</span>
			</h2>
			
			<form th:object="${boleto}" th:action="@{/salvarBoleto}" method="POST">
			<nav class="navbar navbar-light" style="background-color: #e3f2fd; padding-top: 25px;">	
					<div class="form-row">
				  		<div class="form-group col-md-6">
				      		<label for="inputCPF">CPF</label>
				      		<input type="text" maxlength="15"  class="form-control" th:field="*{cpf}" id="inputCPF" placeholder="CPF">
				      		<span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}">Preencher corretamente </span>
				    	</div>
				    	<div class="form-group col-md-6">
				    		<label for="inputEmail">Email</label>
				        	<input type="email" maxlength="30"  class="form-control" th:field="*{email}" id="inputEmail" placeholder="Email">
				    	</div>
				    </div>
					<div class="form-row">
				    	<div class="form-group col-md-9">
				    		<label for="inputNome">Nome Completo</label>
				        	<input type="text" maxlength="60" class="form-control"th:field="*{nome}" id="inputNome" placeholder="Nome Completo">
				    	</div>
				    	<div class="form-group col-md-3">
				        	<label for="inputParcela">Num. Parcelas</label>
				        	<input type="number" maxlength="2" class="form-control" th:field="*{numParcelas}" id="inputParcela" placeholder="Numero de Parcelas">
				        </div>
				    </div>
				    <div class="form-row">
				    	<div class="form-group col-md-12">
				    		<label for="inputDescricao">Descrição</label>
				        	<input type="text" maxlength="150" class="form-control" th:field="*{descricao}" id="inputDescricao" placeholder="Decrição da compra">
				    	</div>
				    </div>
				    <div class="form-row">
				    	<div class="form-group col-md-4">
				    		<label for="inputDataParcela">Data Primeira parcela</label>
				        	<input type="text" class="form-control" th:field="*{dataPrimeiraParcela}" id="inputDataParcela">
				        </div>
				    	<div class="form-group col-md-4">
				    		<label for="inputTelefone">Telefone Residencial</label>
				        	<input type="text" maxlength="14" class="form-control" th:field="*{telResidencial}" id="inputTelefone" placeholder="(xx) xxxx-xxxx">
				        </div>
				        <div class="form-group col-md-4">
				    		<label for="inputCelular">Celular</label>
				        	<input type="text" maxlength="15" class="form-control" th:field="*{celular}" id="inputCelular" placeholder="(xx) xxxxx-xxxx">
				        </div>
				    </div>
					</nav>
					<div id="buttonsCadastro">
						<button id="btnCadatraBoleto" type="submit" class="btn btn-primary">Salvar</button>
				        <a class="btn btn-warning" th:href="@{/}" onclick="openModal();" >Voltar</a>
					</div>
				</form>
				
				<script type="text/javascript">
				   $('#inputCPF').mask("000.000.000-00");
				   $("#inputTelefone").mask("(00) 0000-0000");
				   $("#inputCelular").mask("(00) 00000-0000");
				   $('#inputDataParcela').mask('99/99/9999',{placeholder:"dd/MM/yyyy"});
   
				</script>
		</div>
			
	</body>
</html>