<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header"></head>
<body>

	<div th:replace="template :: menu"></div>
	<div th:replace="template :: importScripts"></div>
	<div class="container" style="max-width: 970px;">

		<h2 style="text-align: center; margin-bottom: 30px;">
			<span class="label label-info">Consulta de Boletos</span>
		</h2>	
			<table class="table">
			    <thead class="thead-dark">
			        <tr style="background-image: linear-gradient(to bottom,#5bc0de 0,#53cef3 100%);">
			            <th th:text="CPF" style="width: 15%;"/>
			            <th th:text="Nome" />
			            <th th:text="'Data de Criação'" style="width: 18%;"/>
			            <th th:text="'Numero de Parcelas'" style="width: 18%;"/>
			            <th th:text="Ver" style="width: 10%;"/>
			            <th th:text="Apagar" style="width: 10%;"/>
			        </tr>
			    </thead>
			    <tbody>
			    	
			        <tr th:each="boleto, iStat : ${boletoPage.content}"
			        	style="background-color: #dff5ff;"
			            th:alt-title="'Ver Parcelas'">
			            <td th:text="${boleto.cpf}" />
			            <td th:text="${boleto.nome}" />
			            <td th:text="${#dates.format(new java.util.Date(boleto.dataCriacao), 'dd/MM/yyyy')}" />
			            <td th:text="${boleto.totalParcelas}" style="text-align: center;" />
			            <td style="text-align: center;">
			            	<form th:action="@{/verparcelas}" th:object="${boleto}"  method="post">
			            		<input type="hidden" name="id" th:value="*{id}"></input>
				            	<button type="submit" onclick="openModal();" class="btn btn-info" style="width: 60px;" >
				            	<span class="glyphicon glyphicon-eye-open"></span></button>
							</form>
			            </td>
			            <td style="text-align: center;">
			            	<form th:id="'formExcluir_' + ${boleto.id}" th:action="@{/deletarBoleto}" th:object="${boleto}"  method="post">
			            		<input type="hidden" name="idBoleto" th:value="*{id}"></input>
				            	<a th:onclick="'javascript:modalExcluir(\'' + ${boleto.id} +'\');'" class="btn btn-danger" style="width: 60px;" >
				            	<span class="glyphicon glyphicon-trash"></span></a>
							</form>
			            </td>
			        </tr>
			       
			    </tbody>
			</table>
			
			<ul class="pagination">
				<li th:if="${boletoPage.totalPages > 0}" 
				    th:each="pageNumber : ${pageNumbers}" class="page-item">
			    	<a th:href="@{/consulta(size=${boletoPage.size}, page=${pageNumber})}"
			        	th:text=${pageNumber}
			       		 th:class="${pageNumber==boletoPage.number + 1} ? active" class="page-link">
			       	</a>
				</li>
			</ul>		
			
			<div id="excluirBoleto" class="modal">
				<div class="alert alert-warning" role="alert" style="text-align: center;">
  					<p>Tem certeza que deseja excluir o boleto?</p>
				</div>
			  	<a href="#" rel="modal:close"  onclick="excluirBoleto(idBoleto);" class="btn btn-danger">Excluir Boleto</a>
			  	<a href="#" rel="modal:close" class="btn btn-warning" style="float: right;">Cancelar</a>
			</div>
			<script type="text/javascript">
			var idBoleto;
		
				
			function modalExcluir(id){
				idBoleto= id;
				console.log("id informado:" + id);
				$("#excluirBoleto").modal({
					  escapeClose: false,
					  clickClose: false,
					  showClose: false
			
				});	
			};
			   function excluirBoleto(idform){
				   if(idform != null){
				   	 $("#formExcluir_"+idform).submit();
				   }else{
					 console.log("id do form esta nulo ou invalido!!!"); 
				   }
			   }
			</script>
			
	</div>

</body>
</html>