<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Boletos</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
	      <div class="container">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="#">Boletos vencidos</a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li>
	              <a href="/" th:href="@{/}">Home</a>
	            </li>
	            <li>
	              <a href="tasks" th:href="@{tasks}"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Atrasados</a>
	            </li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <li >
	              <a href="/signin" th:href="@{/}">
	                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
	              </a>
	            </li>
	            <li >
	              <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
	                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
	              </a>
	             <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
	            </li>
	          </ul>
	        </div>
	      </div>
	    </div>
		<div class="container" >
			<div class="jumbotron" align="center" style="margin-top: 100px;">
				<h1>Sistema de Boletos</h1>
				<div align="center">
					<a href="listaconvidados" class="btn btn-lg btn-primary"></a>
				</div>
			</div>
		</div>
	     <div th:insert="footer">
         </div>
	    <script src="jquery1.11.3/jquery.min.js"></script>
	    <script src="bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>