<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 
	<link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
	
</head>
	<!-- Menu do sistema  -->
	<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="menu" style="position: static; margin-bottom: 15px;">
	      <div class="container">
	        <div class="navbar-header">
	          <a class="navbar-brand" th:href="@{/}">Sistema de Boletos</a>
	        </div>
	        <div class="navbar-collapse collapse">
		          <ul class="nav navbar-nav">
		            <li>
		              <a th:href="@{cadastro}">Cadastro</a>
		            </li>
		            <li>
		              <a th:href="@{tasks}"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;&nbsp;Em Atraso</a>
		            </li>
		          </ul>
		          <ul class="nav navbar-nav navbar-right">
		            <li >
		              <a href="/signin" th:href="@{/}">
		                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
		              </a>
		            </li>
		            <li >
		              <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
		                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
		              </a>
		             <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
		            </li>
		          </ul>
	        </div>
	    </div>
	</div>

	<!-- informações da  home -->
	<div class="container" th:fragment="infoHome">
		<div class="jumbotron" align="center" >
			<h1>Sistema de Boletos</h1>
			<div align="center">
				<a href="tasks" class="btn btn-lg btn-primary">Clique aqui para ver todos os boletos</a>
			</div>
		</div>
	</div>
	<!-- Importações de scritps -->
	<div th:fragment="importScripts">
 		 
 		<script src="jquery3.3.1/jquery.min.js"></script>
 		<script src="jquerymask/jqueryMask.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
	
	</div>
</html>