<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: header"></head>
<body>
	<div th:replace="template :: importScripts"></div>	
	<div th:replace="template :: menu"></div>	

	<div class="container" style="max-width: 970px;">
		<h3>Acesso negado!</h3>
	   <div>
		    Usuário deslogado: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
		    <form th:action="@{/app-logout}" method="POST">
		         <input type="submit" value="Logout"/>
		    </form>
	   </div> 	
       
	</div>

</body>
</html>